<div class="row">
    <div class="col-xs-12 col-md-12">
        <h4>General info</h4>
        <table class="table-responsive table">
            <tr>
                <td>Max steps</td>
                <td>
                    <input type="text" ng-model="config.max_steps" class="form-control">
                </td>
            </tr>

            <tr>
                <td>Walk speed (in ms/h)</td>
                <td>
                    <input type="text" ng-model="config.walk" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Wait times</td>
                <td>

                    <div class="input-group">
                        <input type="text" ng-model="config.action_wait_min" class="form-control">
                        <div class="input-group-addon"> Seconds minimal</div>
                    </div>
                    <br>
                    <div class="input-group">
                        <input type="text" ng-model="config.action_wait_max" class="form-control">
                        <div class="input-group-addon"> Seconds maximal</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Health record</td>
                <td>
                    <input type="checkbox" ng-model="config.health_record">
                </td>
            </tr>
            <tr>
                <td>Location cache</td>
                <td>
                    <input type="checkbox" ng-model="config.location_cache">
                </td>
            </tr>
             <tr>
                <td>Distance unit</td>
                <td>
                    <select ng-model="config.distance_unit">
                        <option value="km">Kilometers</option>
                        <option value="mi">Miles</option>
                        <option value="ft">Feet</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
